/* Add CSS styling here */

/* CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.25%;
    padding: 0.25%;
    width: 100%;
}

h3{
    color: whitesmoke;
    font-size: 99%;
    font-family: apple chancery, cursive;
    padding: 0.25%;
    margin-left: 1%;
}

button{
    color:whitesmoke;
    background-color: black;
    font-size: 80%;
    font-family: apple chancery, cursive;
    border-radius: 10%;
    border: none;
}

button:hover{
    color:black;
    background-color: white;
}

h1{
    font-size: 99%;
    font-family: apple chancery, cursive;
    padding: 0.25%;
}

.title{
    display: flex;
    flex-direction: row;
}

.profile-picture{
    width: 40%;
    padding: 1%;
    margin: 5%;
}

.projects-button{
    color: black;
    background-color: white;
    border: solid;
    border-color: black;
    border-radius: 10%;
    width: 25%;
    margin: 1%;
}

.projects-button:hover{
    color: white;
    background-color: black;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 1%;
    margin: 5%;
}

.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-one{
    width: 20%;
    height: 20%;
    padding: 1%;
    margin: 1%;
  }

  .project-two{
    width: 20%;
    height: 20%;
    padding: 1%;
    margin: 1%;
  }

  .project-three{
    width: 20%;
    height: 20%;
    padding: 1%;
    margin: 1%;
  }

  .project-four{
    width: 20%;
    height: 20%;
    padding: 1%;
    margin: 1%;
  }

  .project-five{
    width: 20%;
    height: 20%;
    padding: 1%;
    margin: 1%;
  }

  .project-six{
    width: 20%;
    height: 20%;
    padding: 1%;
    margin: 1%;
  }

  .project-seven{
    width: 20%;
    height: 20%;
    padding: 1%;
    margin: 1%;
  }

  .project-eight{
    width: 20%;
    height: 20%;
    padding: 1%;
    margin: 1%;
  }

  .project-one:hover{
    opacity: 70%;
  }
  .project-two:hover{
    opacity: 70%;
  }
  .project-three:hover{
    opacity: 70%;
  }
  .project-four:hover{
    opacity: 70%;
  }
  .project-five:hover{
    opacity: 70%;
  }
  .project-six:hover{
    opacity: 70%;
  }
  .project-seven:hover{
    opacity: 70%;
  }
  .project-eight:hover{
    opacity: 70%;
  }

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

.footer-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.25%;
    padding: 0.25%;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    body {
        background-color: lightslategray;
    }

    p {
        color: white;
        font-size: 3vw;
    }

    .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-picture{
        width: 40%;
        padding: 1%;
        margin: 1%;
    }

    .info{
        width: 40%;
        padding: 1%;
        margin: 1%;
    }

    .projects-button{
        color: white;
        background-color: black;
        border: solid;
        border-radius: 10%;
        width: 60%;
        margin: 1%;
    }

    .project-one{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
    
      .project-two{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
    
      .project-three{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
    
      .project-four{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
    
      .project-five{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
    
      .project-six{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
    
      .project-seven{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
    
      .project-eight{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }

}

@media only screen and (max-width: 500px) {
    body{
        background-color: bisque;
    }

    p {
        color: black;
        font-size: 5vw;
    }

    .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-picture{
        width: 40%;
        padding: 1%;
        margin: 1%;
    }

    .info{
        width: 40%;
        padding: 1%;
        margin: 1%;
    }

    .projects-button{
        color: white;
        background-color: black;
        border: solid;
        border-radius: 10%;
        width: 60%;
        margin: 1%;
    }

    .project-one{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
    
      .project-two{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
    
      .project-three{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
    
      .project-four{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
    
      .project-five{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
    
      .project-six{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
    
      .project-seven{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
    
      .project-eight{
        width: 40%;
        height: 20%;
        padding: 1%;
        margin: 1%;
      }
}